/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}

/* BEGIN Header */
#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav li {
    position: relative;
}

#nav > li {
    display: inline-block;
}

#nav li a {
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#nav > li > a {
    text-transform: uppercase;
}

#nav > li:hover > a, #nav .subnav li:hover a {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} 

#nav li:hover .subnav {
    display: block;
}

#nav .subnav a {
    color: black;
    display: block;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-icon {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 21px; 
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
}
/* END Header */

/* BEGIN Slider */
#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*50% chieu ngang cua chinh' no'*/
    background: url('/Band_web/asset/img/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: white;
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-discription {
    margin-top: 10px;
    font-size: 15px;
}

/* END Slider */

/* BEGIN Content */
#content .cont-section {
    width: 800px;
    padding: 64px 0;
    margin-right: auto;
    margin-left: auto;
}

#content .sec-heading{
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
}

#content .sec-sub-heading{
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .sec-text {
    font-size: 16px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}
/* BEGIN THE DCOD */
#content .memlist {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: 33.33333%;
    text-align: center;
}

#content .mem-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

#content .mem-name {
    font-size: 15px;
}
/* END THE DCOD */

/* BEGIN Tour-section */
#content .tour {
    background-color: black;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: solid #ddd;
}

.soldout {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 20px;
}

.left {
    float: right;
    color: #fff;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* END Tour-section */
/* END Content */
#footer {
  
}